<div class="card">
    <div class="card-header">
        <h3>Enregistrer un mariage</h3>
    </div>
    <form [formGroup]="formMariage" *ngIf="formMariage">
        <div class="card-body">

            <div class="mb-3">
                <!-- <label for="numeroActe" class="form-label"> La déclaration:</label> -->
                <label for="numeroActe" class="form-label"> N° acte:</label>
                <input type="text" class="form-control" formControlName="numeroActe" id="numeroActe"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="N° Acte">
            </div>
            <div class="mb-3">
                <label for="dateMariage" class="form-label"> Le (Date et heure de mariage):</label>
                <input type="datetime-local" class="form-control" formControlName="dateMariage" id="dateMariage"
                    [readonly]="mariage.statutActe==='VALIDE'">
            </div>

            <div class="mb-3">
                <label for="lieuMariage" class="form-label"> à:</label>
                <input type="text" class="form-control" formControlName="lieuMariage" id="enfantLieuMariage"
                    placeholder="lieu du mariage">
            </div>
            <div class="mb-3">
                <label for="celebrant" class="form-label"> devant nous:</label>
                <input type="text" class="form-control" formControlName="celebrant" id="celebrant"
                    placeholder="celebrant">
            </div>
            <div class="mb-3">
                <label for="nomEpoux" class="form-label"> ont comparu publiquement :</label>
                <input type="text" class="form-control" formControlName="prenomEpoux" id="prenomEpoux" placeholder="prénoms">
                <input type="text" class="form-control" formControlName="nomEpoux" id="nomEpoux" placeholder="nom">  
            </div>
            <div class="mb-3">
                <label for="professionEpoux" class="form-label"> Profession:</label>
                <input type="text" class="form-control" formControlName="professionEpoux" id="professionEpoux">

            </div>
            <div class="mb-3">
                <label for="dateNaissanceEpoux" class="form-label"> Né le:</label>
                <input type="datetime-local" class="form-control" formControlName="dateNaissanceEpoux"
                    id="dateNaissanceEpoux">

            </div>
            <div class="mb-3">
                <label for="lieuNaissanceEpoux" class="form-label"> à:</label>
                <input type="text" class="form-control" formControlName="lieuNaissanceEpoux" id="lieuNaissanceEpoux">

            </div>


            <div class="mb-3">
                <label for="pereEpoux" class="form-label"> De:</label>
                <input type="text" class="form-control" id="pereEpoux" formControlName="pereEpoux"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="Nom & prénoms du père">
            </div>

            <div class="mb-3">
                <label for="mereEpoux" class="form-label"> et de:</label>
                <input type="text" class="form-control" id="mereEpoux" formControlName="mereEpoux"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="Nom & prénoms de la mère">
            </div>
            
            <div class="mb-3">
                <label for="residenceEpoux" class="form-label"> domicilié à, résidant à:</label>
                <input type="text" class="form-control" formControlName="residenceEpoux" id="residenceEpoux">

            </div>

            <div class="mb-3">
                <label for="regimeEpoux" class="form-label"> autorisé à contracter mariage par:</label>
                <select type="text" class="form-control select" formControlName="regimeEpoux" id="regimeEpoux">
                    <option *ngFor="let regime of regimes" [value]="regime.id">{{ regime.libelle }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="nomEpouse" class="form-label"> et :</label>
                <input type="text" class="form-control" formControlName="prenomEpouse" id="prenomEpouse" placeholder="prénoms">
                <input type="text" class="form-control" formControlName="nomEpouse" id="nomEpouse" placeholder="nom">                
            </div>
            <div class="mb-3">
                <label for="professionEpouse" class="form-label"> Profession:</label>
                <input type="text" class="form-control" formControlName="professionEpouse" id="professionEpouse">

            </div>
            <div class="mb-3">
                <label for="dateNaissanceEpouse" class="form-label"> Né le:</label>
                <input type="datetime-local" class="form-control" formControlName="dateNaissanceEpouse"
                    id="dateNaissanceEpouse">

            </div>
            <div class="mb-3">
                <label for="lieuNaissanceEpouse" class="form-label"> à:</label>
                <input type="text" class="form-control" formControlName="lieuNaissanceEpouse" id="lieuNaissanceEpouse">

            </div>

            <div class="mb-3">
                <label for="pereEpouse" class="form-label"> De:</label>
                <input type="text" class="form-control" id="pereEpouse" formControlName="pereEpouse"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="Nom & prénoms du père">
            </div>

            <div class="mb-3">
                <label for="mereEpouse" class="form-label"> et de:</label>
                <input type="text" class="form-control" id="mereEpouse" formControlName="mereEpouse"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="Nom & prénoms de la mère">
            </div>
            
            <div class="mb-3">
                <label for="residenceEpouse" class="form-label"> domiciliée à, résidant à:</label>
                <input type="text" class="form-control" formControlName="residenceEpouse" id="residenceEpouse">

            </div>
            <div class="mb-3">
                <label for="regimeEpouse" class="form-label"> autorisée à contracter mariage par:</label>
                <select type="text" class="form-control select" formControlName="regimeEpouse" id="regimeEpouse">
                    <option *ngFor="let regime of regimes" [value]="regime.id">{{ regime.libelle }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="temoinEpoux" class="form-label"> lesquels ont déclaré l'un après l'autre vouloir se prendre pour époux.
                    Nous avons prononcé, au nom de la loi, qu'ils sont unis par le mariage en présence de:</label>
                <input type="text" class="form-control" formControlName="temoinEpoux" id="temoinEpoux"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="témoin du marié">
                <input type="text" class="form-control" formControlName="temoinEpouse" id="temoinEpouse"
                    [readonly]="mariage.statutActe==='VALIDE'" placeholder="témoin de la mariée">
                    Témoins majeurs.
            </div>
            

            <div class="mb-3">
                <label for="agentDeclareur" class="form-label"> ayant été reçue par:</label>
                <input type="text" class="form-control" formControlName="agentDeclareur" id="agentDeclareur"
                    readonly placeholder="Nom du déclarant">
            </div>
            <div class="mb-3">
                <label for="interprete" class="form-label"> avec l'assistance de :</label>
                <input type="text" class="form-control" formControlName="interprete" id="interprete"
                    readonly>
                <p>
                    interprète ayant prêté entre nos mains le serment prévu par la loi.
                    Avant de dresser l'acte, nous avons averti les parties comparantes et les témoins
                    des peines prévues par la loi pour sanctionner les fausses déclarations.
                </p>
            </div>
            <div class="mb-6">
                <p class="form-label"> Lecture faite, les époux et les témoins invités à lire l'acte:</p>
                <p> et l'acte traduit par l'interprète: {{ formMariage.get('interprete')?.value }}</p>
                <p> Nous avons signé.</p>
            </div>
            <div class="mb-6" *ngIf="mariage.statutActe==null">
                <div class="form-group">
                    <label for="pieces" class="form-label"> Pièces fournies:</label>
                    <mat-select class="form-control select" multiple="multiple" name="pieces" id="pieces" [formControl]="piecesFourni">
                        <mat-option *ngFor="let piece of piecesAdmin" [value]="piece"> {{ piece.libellePiece }}</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="mb-6" *ngIf="mariage.statutActe!=null">
                <div class="form-group">
                    <label for="pieces" class="form-label"> Pièces fournies:</label>
                    <mat-chip-list aria-label="Pièces fournies" name="pieces">
                        <mat-chip *ngFor="let piece of mariage.pieces">{{ piece.libellePiece }}</mat-chip>
                        <mat-chip *ngIf="mariage?.pieces?.length==0">Aucune</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="card-footer">

            <!-- <div class="col-12"> -->
            <button class="btn btn-danger" (click)='goToListe(mariage.statutActe!)'> Retour</button>
            <button class="btn btn-primary float-right" *ngIf="!mariage.id" (click)='enregistrerMariage()'>
                Enregistrer</button>
            <button class="btn btn-success float-right" *ngIf="mariage.id && mariage.statutActe==='EN_ATTENTE'"
                (click)='approuverMariage()'> Approuver</button>
            <button class="btn btn-success float-right" *ngIf="mariage.id && mariage.statutActe==='APPROUVE' && droits?.includes('VALIDER')"
                (click)='majMariage("VALIDE")'> Valider</button>
            <button class="btn btn-success float-right" *ngIf="mariage.id && mariage.statutActe==='VALIDE' && droits?.includes('SIGNER')"
                (click)='majMariage("SIGNE")'> Signer</button>
            <!-- </div> -->
        </div>
    </form>
</div>