<div class="container-fluid">
  
    <!-- Small boxes (Stat box) -->
    <div class="card">
      <div class="card-header">
        <h2> Enregistrements du mois</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ nbre_mariage }}</h3>
    
                <p>Actes de mariage</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a routerLink="/mariage/liste/signe" class="small-box-footer">Détails <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ nbre_naissance }}</h3>
    
                <p>Actes de naissance</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a routerLink="/naissance/liste/statut/valide" class="small-box-footer">Détails <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ nbre_deces }}</h3>
    
                <p>Actes de décès</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a routerLink="/deces/liste/valide" class="small-box-footer">Détails <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ nbre_actes }}</h3>
    
                <p>Tous les actes</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </div>
    </div>
    
    <!-- /.row -->
    <!-- Main row -->
    
</div>